@font-face {
  font-family: 'Geomanist';
  src: url('../assets/fonts/Geomanist.woff2') format('woff2'),
  url('../assets/fonts/Geomanist.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
}

html.overflow-y-hidden {
  overflow-y: scroll !important;
}

h1 strong {
  color: var(--v-accent-base);
  font-weight: bold;
}

.v-application {

  .v-tab {
    &:not(.default-font) {
      font-family: Geomanist !important;
    }
  }
  h1,h2,h3,h4,h5,h6,
  .display-1, .display-2, .display-3,
  .text-h1,.text-h2,.text-h3,.text-h4,.text-h5,.text-h6,
  .text-md-h1,.text-md-h2,.text-md-h3,.text-md-h4,.text-md-h5,.text-md-h6,
  .title,
  .v-card__title,
  .v-expansion-panel-header  {
    &:not(.default-font) {
      font-family: "Bebas Neue", sans-serif !important;
      font-weight: 400;
      font-style: normal;
    }
  }
}

ul + * { margin-top: 1rem }

//@media all and (min-width: 1500px) { body { zoom: 1.11; } }
//@media all and (min-width: 1840px) { body { zoom: 1.25; } }
//@media all and (min-width: 1960px) { body { zoom: 1.33; } }
//@media all and (min-width: 2210px) { body { zoom: 1.5; } }
//@media all and (min-width: 2940px) { body { zoom: 2; } }
//@media all and (min-width: 4420px) { body { zoom: 3; } }
//@media all and (min-width: 5890px) { body { zoom: 4; } }

.shrink { flex: 0 }
.grow { flex: 1 }
.h-100 { height: 100% }
.container-md { max-width: 60rem; }

.gap-xs { display: flex; align-items: center; gap: 0.25rem; }
.gap-sm { display: flex; align-items: center; gap: 0.5rem; }
.gap-md { display: flex; align-items: center; gap: 1rem; }

* + h3 { margin-top: 1.5rem; margin-bottom: 0.5rem; }

@media all and (min-width: 768px) {
  .text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.highlighted-text {
  background-color: var(--v-primary-base);
  color: white;
  padding: 0 0.25em;
  font-weight: bold;
}

::selection {
  color: white;
  background-color: var(--v-primary-base);
}

.select-transparent.v-text-field--solo > .v-input__control > .v-input__slot {
  background-color: transparent !important;
}

.show-timeout {
  opacity: 0;
  transition: transform 200ms ease,
              opacity 200ms ease;
}
.show-timeout-slide-x-hide { transform: translateX(2rem); }
.show-timeout-slide-x-reverse-hide { transform: translateX(-2rem); }

.show-timeout-slide-y-hide { transform: translateY(2rem); }
.show-timeout-slide-y-reverse-hide { transform: translateY(-2rem); }

.show-timeout-scale-hide { transform: scale(0.7); }
.show-timeout-scale-reverse-hide { transform: scale(1.3); }

.show-timeout-small-scale-hide { transform: scale(0.9); }
.show-timeout-small-scale-reverse-hide { transform: scale(1.1); }

.show-timeout-scale-show,
.show-timeout-scale-reverse-show,
.show-timeout-small-scale-show,
.show-timeout-small-scale-reverse-show,
.show-timeout-slide-y-show,
.show-timeout-slide-y-reverse-show,
.show-timeout-slide-x-show,
.show-timeout-slide-x-reverse-show {
  transform: scale(1) translateX(0) translateY(0);
}
.show-timeout-show {
  opacity: 1;
}

@media print {
  header, aside { display: none !important; }
  .container { max-width: 100% !important; padding: 0 !important; }
  .v-main { padding: 0 !important; }
}

.v-main {
  padding: 4rem 0 !important;
}
@media all and (max-width: 959px) {
  .v-application:not(.route-portfolio) .v-main {
    padding-bottom: 0 !important;
  }
}
